@model Alfonso.Pages.Compare.CompareViewModel
@{
    ViewData["Title"] = "My Header Links";
}


<div class="col order-2 order-lg-12 order-xl-12">
        <!-- Header Shop Links Start -->
        <div class="header-shop-links">

            <!-- Wishlist -->
            <a asp-page="wishlist" class="header-wishlist"><i class="ti-heart"></i> <span class="number">3</span></a>
            <!-- Compare -->
            <a asp-page="/Compare/Index" asp-route-slug="@Model.Slug" class="header-compare"><i class="ti-control-shuffle"></i> <span class="number">@Model.Items.Count</span></a>
        </div>
        <!-- Header Shop Links End -->
    </div>